.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.hero-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.hero-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.hero-list-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  transition: max-height 0.3s ease;
  max-height: 50px;
}

.hero-list-item.open img {
  max-height: 150px; /* Adjust the max height as needed */
}

.hero-list-item p {
  margin: 0;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  background-color: rgb(134, 134, 238);
  color: white;
  padding: 5px 10px;
  border-radius: 30px;
  text-decoration: none;
}

.hero-pic {
  max-width: 100%;
  height: auto;
}

.pic-container {
  width: 200px;
  height: 200px;
}

.detail-title {
  font-weight: bold;
}
